<table class="table table-hover">
	<thead>
		<tr>
			<th>序号</th>
			<th>标题</th>
			<th>作者</th>
			<th>出版时间</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in listData.data" ng-click="selectItem(item)">
			<td>
				{{item.id}}
			</td>
			<td>
				{{item.title}}
			</td>
			<td>
				{{item.author}}
			</td>
			<td>
				{{item.publishTime}}
			</td>
		</tr>
	</tbody>
</table>
<ul class="pagination">
	<li><a>&laquo;</a></li>
	<li class="active"><a>1</a></li>
	<li><a>2</a></li>
	<li><a>3</a></li>
	<li><a>4</a></li>
	<li><a>5</a></li>
	<li><a>&raquo;</a></li>
</ul>